<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OpenGLES_Doc"
        tools:targetApi="31">
        <activity
            android:name=".simple.TriangleShapeActivity"
            android:exported="false" />
        <activity
            android:name=".simple.TriangleShapeActivity_with_Matrix"
            android:exported="false" />
        <activity
            android:name=".simple.SquareShapeActivity"
            android:exported="false" />
        <activity
            android:name=".simple.CubeShapeActivity"
            android:exported="false" />
        <activity
            android:name=".simple.TextureImageActivity"
            android:exported="false" />
        <activity
            android:name=".simple.GrayTextureImageActivity"
            android:exported="false" />
        <activity
            android:name=".simple.CoolTextureImageActivity"
            android:exported="false" />
        <activity
            android:name=".simple.WarmTextureImageActivity"
            android:exported="false" />
        <activity
            android:name=".simple.MagnifierTextureImageActivity"
            android:exported="false" />
        <activity
            android:name=".simple.BlurTextureImageActivity"
            android:exported="false" />
        <activity
            android:name=".simple.CubeTransformActivity"
            android:exported="false" />
        <activity
            android:name=".simple.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".simple.EGLOutOfScreenDrawActivity"
            android:exported="false" />
        <activity
            android:name=".simple.FboOutOfScreenDrawActivity"
            android:exported="false" />
        <activity
            android:name=".simple.EtcCompressedTextureActivity"
            android:exported="false" />
        <activity
            android:name=".simple.YUV420RenderActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>